.comeco {
    margin-top: 40px;
}
.forro-primary {
    margin-top: 40px;
    width: 100%;
}

.button-vejamais {
    text-align: center;
}
.variedade-3 {
    text-align: left;
}
section h2 {
    text-align: center;
    margin-top: 40px;
}

.musica-brasileira {
    width: 100%;
    height: 300px;
}

img .forro-primary {
    width: 100%;
    height: 250px;
    
}

.botao-voltar {
    text-align: center;
    margin-top: 40px;
}
.botao-vejamais{
    text-align: center;
    margin-top: 40px;
}

.botao-vejamais {
    margin-bottom: 80px;
}
.section-inicial{
    margin-top: 80px;
}
.section-variedade{
    margin-top: 60px;
}

.playlist{
    margin-top: 80px;
    text-align: center;
}

.button-spotify{
    text-align: center;
    margin-top: 60px;
}

.button-youtube{
    text-align: center;
    margin-top: 60px;
}

.positionbutton {
    margin-top: 60px;
    margin-bottom: 80px;
}
/* CONFIGURAÇAO DAS IMAGENS --------------------------------------------- */
.imgs-prima{
    border: solid 1px #ff4500;
    box-shadow: 3px 5px 4px black;
    margin-bottom: 40px;
}


.img-secondary{
    border: solid 1px #ff4500;
    height: 200px;
    width: 80%;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 3px 5px 4px black;
}

/* FONTE ----------------------------------------------- */

h1, h2{
    font-family: 'Fjalla One', sans-serif;
    color: #ff4500;
    font-weight: bold;
}

/*Mudança de cor do botão */
.btn-success{
    background-color:  #ff4500 !important;
    border-color: #ff4500 !important;

}



