.comeco {
    margin-top: 40px;
}
.forro-primary {
    margin-top: 40px;
    width: 100%;
}

.button-vejamais {
    text-align: center;
}
.variedade-3 {
    text-align: left;
}
section h2 {
    text-align: center;
    margin-top: 40px;
}

.musica-brasileira {
    width: 100%;
    height: 300px;
}

img .forro-primary {
    width: 100%;
    height: 250px;
}

.botao-voltar {
    text-align: center;
    margin-top: 40px;
}
.botao-vejamais{
    text-align: center;
    margin-top: 40px;
}

.botao-vejamais {
    margin-bottom: 80px;
}
.section-inicial{
    margin-top: 80px;
}
.section-variedade{
    margin-top: 60px;
}

.playlist{
    margin-top: 80px;
    text-align: center;
}

.button-spotify{
    text-align: center;
    margin-top: 60px;
}

.button-youtube{
    text-align: center;
    margin-top: 60px;
}

.positionbutton {
    margin-top: 60px;
    margin-bottom: 80px;
}

.img-secondary{
    border: dashed 4px pink;
    height: 250px;
    width: 100%;
    margin-bottom: 100px;
}
