.comeco {
    margin-top: 40px;
}
.forro-primary {
    margin-top: 40px;
    width: 100%;
}

.button-vejamais {
    text-align: center;
}
.variedade-3 {
    text-align: left;
}
section h2 {
    text-align: center;
    margin-top: 40px;
}

.musica-brasileira {
    width: 100%;
    height: 300px;
}

img .forro-primary {
    width: 100%;
    height: 250px;
}

.botao-voltar {
    text-align: center;
    margin-top: 40px;
}
.botao-vejamais{
    text-align: center;
    margin-top: 40px;
}