h1, h2 {
    text-align: center;
}

.topo-home{
    margin-top: 80px;
    margin-bottom: 60px;
}    
.musica-brasileira{
    height: 350px;
    width: 100%;
    
}
.forro{
    margin-bottom: 80px;
}
.mpb{
    margin-bottom: 100px;
}
.img-sec{
    height: 200px;
    width: 100%;
}

.botao-vejamais {
    text-align: center;
}

a { color: inherit; } 

a:link 
{ 
 text-decoration:none; 
} 