
.sombra{
    box-shadow: 3px 5px 4px black;
}

.caixa {
    font-size: 5mm;
    color: #fafafa;
    background-color: #4c7389;
    margin-bottom: 15mm;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.border-danger {
    border-width: 3mm;
    border-color: white !important;
}

.space {
    padding-top: 20px;
    padding-bottom: 30px;
}

.textspace {
    text-align: center;
}



h1,
h2
{
    font-family: 'Fjalla One', sans-serif;
    color: #36586b;
    font-weight: bold;
}

.btn-success {
    background-color: #36586b !important;
    border-color: #36586b !important;

}

.botao-vejamais {
    margin-bottom: 30px;
}

.positionbutton {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}