h1 {
    text-align: center;
}

p {
    text-align: justify;
}

article,
section,
p {
    padding-top: 15px;
    padding-bottom: 25px;
}

.espacopadding {
    padding-bottom: 15px;
    padding-top: 20px;
}