h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}


article,
section,
p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

.espacopadding {
    padding-bottom: 15px;
    padding-top: 20px;
}

.playlist {
    margin-top: 30px;
    text-align: center;
}

.button-spotify {
    text-align: center;
    margin-top: 60px;
}

.button-youtube {
    text-align: center;
    margin-top: 60px;
}

.positionbutton {
    margin-top: 60px;
    margin-bottom: 80px;
}