h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}


article,
section,
p {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: justify;
}

article {
    padding-bottom: 15px;
}


.espacopadding {
    padding-bottom: 15px;
    padding-top: 20px;
}