
.samba {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #E14A14;
    font-size: 64px;
}

.samba1 {
    text-align: center;
    font-family: 'Fjalla One', cursive;
    color: #663366;
    font-size: 72px;
}


.mb-0 {
    text-align: center;
    font-family: 'PT Serif', serif;
    color: #222;
    font-size: 1em;
    

}
.mb-1 {
    text-align: left;
    font-family: 'PT Serif', serif;
    color: #222;
    font-size: 1em;
    }





.blockquote-footer {
    text-align: center;
    font-family: 'Lobster', cursive;

}



section {
    font-family: 'PT Serif', serif;
    
    text-align: left;
}

.footer-cor{
    border: black 1px solid;
    
}


.bola {
margin-bottom:30px;

}


h1,
h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #663366;
    font-weight: bold;
    text-align: center;
    font-size: 72px;
}

/*Mudança de cor do botão */
.btn-success {
    text-align: center;
    background-color: #663366 !important;
    border-color: #663366 !important;

}

.botao-vejamais {
    margin-bottom: 30px;
}


.positionbutton {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}